.icon-tabs {
  font-size: 60px !important;
  color: #56ba4b;
}
.icon-button {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.icon-arrow {
  font-size: 30px !important;
  color: #56ba4b;
}
.poligon-drow {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #56ba4b;
  height: 300px;
  width: 100%;
}
.home-main {
  min-height: 80vh;
  background: #f8f8f8;
}
.home-icon-star {
  color: #ffc20f;
}
.home-main-des {
  margin-top: 10px !important;
  font-weight: bold !important;
}
.home-rating-icons {
  margin-top: 10px !important;
}
.services-container {
  margin-bottom: 20px;
  padding: 10px;
}
.fullfill-container-hedding {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}
.fullfill-steps {
  margin-top: 20px !important;
}
.fullfill-complete {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px !important;
}
.fullfill-quote-icon {
  font-size: 30px !important;
  margin-right: 20px;
  color: #56ba4b;
}
.fullfill-quote-container {
  font-size: 20px;
  font-weight: bold;
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.fullfill-container {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
